* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

/* Header */

.header {
    padding: 10px 0;
    background-color: #000;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
}

.nav-link:hover {
    color: #a5a5a5;
}

/* Main */

.head-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 170px 0;
    border-bottom: 3px solid #000;
}

.avatar {
    max-width: 360px;
    max-height: 360px;
    border-radius: 50%;
}

.main-title {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.main-subtitle {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.main-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.main-item {
    margin-bottom: 30px;
    width: 50%;
}

.title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;
    font-weight: 800;
}